{%extends "base.html"%}
{%load static%}
{%block title%}
التواصل | مكتب القوجة
{%endblock%}
{%block content%}

<div class="contact-body">
    <h1>التواصل</h1>
    <div class="contact-m">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12793.804429734166!2d37.111181!3d36.7117258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f833e3a150281e5!2z2YXZg9iq2Kgg2KfZhNmC2YjYrNip!5e0!3m2!1sar!2str!4v1653589799128!5m2!1sar!2str" width="500" height="400" style="border: 2px black solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-info"  dir="rtl">
            <p><a href="tel:+905355950397"><i class="fa fa-phone" aria-hidden="true"></i><br> رقم الهاتف: <br>05355950397</a></p>
            <p><a href="tel:+905355950397"><i class="fa fa-phone" aria-hidden="true"></i><br> رقم الهاتف الثانوي: <br>05355950397</a></p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i><br> العنوان: <br>Mercidabık, Öz, Dağlı Sk. No:4/1, 79000 Kilis Merkez/Kilis</p>
            <p><a href="mailto:kocaofisi2020@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i><br> ايميل: <br>kocaofisi2020@gmail.com</a></p>
        </div>
    </div>
</div>
{%endblock%}