{%extends "base.html"%}
{%load static%}
{%block lang%}
{%endblock%}
{%block title%}
    الصفحة الرئيسية| مكتب القوجة
{%endblock%}
{%block content%}

<!-- <div class="slideshow-container">
  {%for slide in slideshow%}
  <div class="mySlides fade">
      <img src="{{slide.slideshow.url}}" class="mySlides-img" style="width:100%">
  </div>
  {%endfor%}

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  {%for slide in slideshow%} 
  {%if slide.slideshow and slide.slideshow_mob %}
  <span class="dot" onclick="currentSlide({{slide.slide_id}})"></span> {%else%} {%if slide.slideshow%}
  <span class="dot" onclick="currentSlide({{slide.slide_id}})"></span> {%elif slide.slideshow_mob%}
  <span class="dot" onclick="currentSlide({{slide.slide_id}})"></span> {%endif%} {%endif%} {%endfor%}
</div>

<script>
  var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
    showSlides(slideIndex += n);
}

function currentSlide(n) {
    showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  try{
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      captionText.innerHTML = dots[slideIndex - 1].alt;
  }
  catch{
      
  }
}
</script> -->

{%endblock%}